*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333D4B;
}

img {
    display: block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;


}

.box:active ~ .box2 {
    animation-name: animate;
    animation-duration: 4s;
    display: inline-block;


}

.box:hover ~.box2 {
    animation-name: animate;
    animation-duration: 4s;
    display: inline-block;


}
.box2 {
    display: none;
    width: 100px;
    height: 100px;
    background-color: red;
}

@keyframes animate {
    from {
        background-color: blue;
        width: 100px;
        height: 100px;
        position: relative;
        left: 0;
    }

    to {
        background-color: yellow;
        width: 100px;
        height: 100px;
        position: relative;
        transform: rotate(360deg);
        left: 90%;
    }
}