.collection {

}

.collection__title {
    margin: 0;
    text-align: center;
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    color: darkblue;
}

.collection__list {
    @include reset-list;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.collection__list-item {
    background-color: yellow;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 10px;
}
.collection__list-img {
    width: 100px;
    height: 100px;
}

.collection__img--title {
    display: flex;
    justify-content: space-around;
}

.collection__link {
    text-decoration: none;
}

.main__link {

    text-decoration: none;

    font-size: 18px;
    min-width: 217px;
    display: inline-block;
    background-color: #0E8784;
    padding: 15px 31px;
    border-radius: 6px;
    color: #FEFCF7;
    // text-decoration: none;
    font-weight: 700;
    text-align: center;
    transition: 0.5s ease all;
}

.collection__play {
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

@media only screen and (max-width: $tablet) {
}

.collection {}

.collection__title {
    margin: 0;
    text-align: center;
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    color: darkblue;
}

.collection__list {
    @include reset-list;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.collection__list-item {
    background-color: yellow;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 10px;
}

.collection__list-img {
    width: 100px;
    height: 100px;
}

.collection__img--title {
    display: flex;
    justify-content: space-around;
}

.collection__link {
    text-decoration: none;
}

.main__link {

    text-decoration: none;

    font-size: 18px;
    min-width: 217px;
    display: inline-block;
    background-color: #0E8784;
    padding: 15px 31px;
    border-radius: 6px;
    color: #FEFCF7;
    // text-decoration: none;
    font-weight: 700;
    text-align: center;
    transition: 0.5s ease all;
}

.collection__play {
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

@media only screen and (max-width: $mobile) {
    .collection {}
    
        .collection__title {
            margin: 0;
            text-align: center;
            font-family: 'Aladin';
            font-style: normal;
            font-weight: 400;
            font-size: 120px;
            color: darkblue;
        }
    
        .collection__list {
            @include reset-list;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

           
    
        }

        .collection__list:active {
            background-color: red;
                     border: 2px solid red;
                 }
    
        .collection__list-item {
            background-color: yellow;
            border-radius: 10px;
            width: 300px;
            height: 400px;
            margin-right: 30px;
            margin-top: 30px;
            padding: 10px;
        }
    
        .collection__list-img {
            width: 100px;
            height: 100px;
        }
    
        .collection__img--title {
            display: flex;
            justify-content: space-around;
        }
    
        .collection__link {
            text-decoration: none;
        }
    
        .main__link {
    
            text-decoration: none;
    
            font-size: 18px;
            min-width: 217px;
            display: inline-block;
            background-color: #0E8784;
            padding: 15px 31px;
            border-radius: 6px;
            color: #FEFCF7;
            // text-decoration: none;
            font-weight: 700;
            text-align: center;
            transition: 0.5s ease all;
        }
    
        .collection__play {
            align-items: center;
            text-align: center;
            margin-top: 10%;
        }
    
}