.site-header__container {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo {
    display: flex;
    text-decoration: none;
    // vertical-align: auto;
    align-items: center;
    
    
}

.site-header__logo--img {
    width: 50px;
    margin-right: 10px;
}

.site-header__zeyn {
    // text-decoration: none;
}

.site-header__burger {
    display: none;
}

.site-header__burger-inner {
    display: none;
}

@media only screen and (max-width: $tablet) {
.site-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .site-header__logo {
        display: flex;
        text-decoration: none;
        // vertical-align: auto;
        align-items: center;


    }

    .site-header__logo--img {
        width: 50px;
        margin-right: 10px;
    }

    .site-header__zeyn {
        // text-decoration: none;
    }

    .site-header__burger {
        display: none;
    }

        .site-header__burger-inner {
            display: none;
        }
}

@media only screen and (max-width: $mobile) {

.site-header__container {
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: space-between;

    }

    .site-header__logo {
        display: flex;
        text-decoration: none;
        // vertical-align: auto;
        align-items: center;


    }

    .site-header__logo--img {
        width: 50px;
        margin-right: 10px;
    }

    .site-header__zeyn {
        // text-decoration: none;
    }

    .site-header__burger {
        display: block;
        width: 35px;
        height: 25px;
        background-color: yellow;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        border: 1px solid blue;
        border-radius: 5px;

        


    }


    .site-header__burger:active {
                background-color: red;
            }

        .site-header__burger-inner {
            display: block;
            width: 30px;
            height: 3px; 
            border-radius: 2px;
            background-color: black; 
            margin: 2px;
            
              
        }
}