.intro {
    width: 100%;
    height: 900px;
    // background-color: lime;
    position: relative;
    
    
}

.intro__img {
     width: 100%;
     height: 100%;
     position: absolute;
     border-radius: 10px;
     top: 0px;
     z-index: -1;
     filter: opacity(15);
 }

.intro__content {
   
   text-align: center;
   padding: 5%;
   
//    padding: 15px 15px;
//    background-image: url(../../img/intro.jpg);
//    background-repeat: no-repeat;
//    background-size: auto;
   
}

.intro__title {
    color: rgb(14, 11, 20);
    
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    z-index: 2;
    
}

.intro__description {
    color: rgb(14, 11, 20);
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    
}

@media only screen and (max-width: $tablet) {
    .intro {
            width: 100%;
            height: 600px;
            // background-color: lime;
            position: relative;
    
        }

        
                .intro__img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    z-index: -1;
                }
        
                .intro__content {
        
                    text-align: center;
                    padding: 5%;
        
                    //    padding: 15px 15px;
                    //    background-image: url(../../img/intro.jpg);
                    //    background-repeat: no-repeat;
                    //    background-size: auto;
        
                }
        .intro__title {
            color: rgb(91, 50, 205);
            font-family: 'Aladin';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
        }
    
        .intro__description {
            color: rgb(104, 50, 205);
            font-family: 'Aladin';
            font-style: normal;
            font-weight: 200;
            font-size: 20px;
            
        }
}

@media only screen and (max-width: $mobile) {
    .intro {
            width: 100%;
            height: 400px;
            // background-color: lime;
            position: relative;
    
        }
    
    
        .intro__img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            z-index: -1;
        }
    
        .intro__content {
    
            text-align: center;
            padding: 5%;
    
            //    padding: 15px 15px;
            //    background-image: url(../../img/intro.jpg);
            //    background-repeat: no-repeat;
            //    background-size: auto;
    
        }
    
        .intro__title {
            color: rgb(179, 17, 57);
            font-family: 'Aladin';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
        }
    
        .intro__description {
            color: rgb(205, 50, 50);
            font-family: 'Aladin';
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
        }
    
}